table.calendar {
	border: 3px solid;
	background-color: rgb(206,206,206);
	float: left;
	margin-right: 5%;
	display: inline;

}

th {
	border: 2px groove;
}

td {
	border: 2px groove ;
	width: 80px;
	height: 80px;
	text-align: center;
	background-color: white; 
}

#month, div.year {
	border: solid 1px black;
	box-shadow: 2px 2px 1px #aaa;
	background-color: #F5F5F5;
}

#allYear, div.year, #month, header h1, div.boutonannee, div.months, #prevYear {
	display: inline-block;
}

li {
	list-style-type: none;
}

#image {
	z-index: 1;
}

header h1 {
	position: relative;
	z-index: 2;
	top: -30px;
	left: -30px;
	font-style: italic;
	text-decoration: underline;
}

#formulaire {
	float: right;
	border: solid 1px;
	border-radius: 5px; 
}

.tabEvent {
	float: right;
	/*position: relative;
	left: 600px;*/
	text-align: center;
}

div.boutonannee, div.months {
	display: inline-block;
}

#sansJour {
	background-color: rgb(206,206,206); 
}
